body{
	background-color: #fff;
}
.navbar{
	margin-bottom: 0px;
}
#bs-brand{
	margin-top: 10px;
}
/*#site-logo{
	float: right;
}*/
a#site-logo:hover{
	text-decoration: none;
}
#site-logo img{
	display: block;
	margin: 0 auto;
	height: 70px;
	width: 70px;
}
#site-logo .header-text{
	color:rgba(43,57,145,1);
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 2px;
	margin-top: 2px;
	text-align: center;
}
#site-logo .caption-text{
	color:rgba(8,6,53,1);
	font-size: 9px;
	text-transform: uppercase;
	margin-bottom: 0px;
	text-align: center;
}
.mobile-header{
	display: none;
}
@media screen and (max-width: 767px){
	#bs-brand{
		margin-top: 0px;
		box-shadow: 0px 2px 2px #999;
		position: fixed;
		top: 0px;
		left: 0px;
		background-color: #fff;
		padding-left: 0px;
		padding-right: 0px;
	}
	#site-logo{
		float: left;
	}
	#site-logo img{
		display: block;
		height: 56px;
		width: 56px;
	}
	#site-logo .header-text,#site-logo .caption-text{
		display: none;
	}
	.mobile-header{
		display: block;
		margin-bottom: 0px;
		padding:15px;
		line-height: 25px;
		font-size: 16px;
		color:rgba(8,6,53,1);
		text-transform: uppercase;
		text-align: center;
	}
}
#bs-navbar{
	margin-top: 30px;
	display: block;
	padding: 0px;
}
#bs-navbar > .top-menu{
	background: rgba(43,57,145,1);
	background: -moz-linear-gradient(left, rgba(43,57,145,1) 0%, rgba(21,26,88,1) 50%, rgba(8,6,53,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(43,57,145,1)), color-stop(50%, rgba(21,26,88,1)), color-stop(100%, rgba(8,6,53,1)));
	background: -webkit-linear-gradient(left, rgba(43,57,145,1) 0%, rgba(21,26,88,1) 50%, rgba(8,6,53,1) 100%);
	background: -o-linear-gradient(left, rgba(43,57,145,1) 0%, rgba(21,26,88,1) 50%, rgba(8,6,53,1) 100%);
	background: -ms-linear-gradient(left, rgba(43,57,145,1) 0%, rgba(21,26,88,1) 50%, rgba(8,6,53,1) 100%);
	background: linear-gradient(to right, rgba(43,57,145,1) 0%, rgba(21,26,88,1) 50%, rgba(8,6,53,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3991', endColorstr='#080635', GradientType=1 );
	text-transform: uppercase;
	list-style: none;
	display: block;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
#bs-navbar > .top-menu > li{
	float: left;
	display: inline-block;
}
#bs-navbar > .top-menu > li:hover{
	background-color: #f4f4f4;
	box-shadow: 0px 0px 2px #666;
}
#bs-navbar a{
	color: white;
	text-align: center;
	display: block;
	line-height: 20px;
	padding: 10px 15px;
	font-size: 13px;
}
#bs-navbar > .top-menu > li:hover > a,#bs-navbar a:hover{
	color: rgba(43,57,145,1);
	text-decoration: none;
	display: block;
	line-height: 20px;
	padding-top: 10px 15px;
}
@media (min-width: 768px) and (max-width: 991px){
	#bs-navbar a{
		color: white;
		text-align: center;
		display: block;
		line-height: 20px;
		padding: 5px;
		font-size: 12px;
	}
}
@media screen and (max-width: 767px){
	#bs-navbar{
		margin-top: 0px;
		display: none;
		position: fixed;
		top: 56px;
		left: 0px;		
	}
	#bs-navbar.collapse.in{
		display: block;
	}
	#bs-navbar > ul{
		padding:0px;
	}
	#bs-navbar > .top-menu > li{
		float: none;
		display: block;
	}
	#bs-navbar a{
		color: white;
		text-align: left;
		display: block;
		line-height: 20px;
		padding: 10px 15px;
	}
	#bs-navbar > .top-menu > li > a > br{
		display: none;
	}
}
#top-slide{
	padding: 0px;
	margin-bottom: 20px;
}
#main-content{
	box-shadow: 0px 0px 1px #666;
	margin-top: 10px;
}
.panel-title{
	position: relative;
	padding: 0px 20px;
}
.panel-title > h3,.panel-title > h4{
	margin-bottom: 5px;
}
.panel-title > h4:after{
	content:'xem thêm';
	color:#D9534F;
	text-decoration: underline;
	font-size: 12px;
	font-weight: 500;
	position: absolute;
	bottom: 5px;
	right: 20px;
	cursor: pointer;
}
.panel-title > hr{
	margin-top: 0px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ddd;
}
.panel-content{
	padding: 0px 20px;
}
.panel-content > ul{
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.panel-content > ul > li{
	padding: 5px;
}
.panel-content > ul > li > a{
	font-size: 16px;
}
@media screen and (max-width: 767px){
	.panel-content,.panel-title{
		padding: 0px;
	}
	.panel-title > h4:after{
		right: 0px;
	}
}
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -80px;
  /* Pad bottom by footer height */
  padding: 0 0 80px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 80px;
  background-color: #eee;
  box-shadow: 0px 0px 4px #999;
}
#footer-info,#footer-name{
	padding:20px;
}
#footer-name{
	color:#999;
	font-size: 16px;
}

/* Detail style
-------------------------------------------------- */
#bs-navbar-group #bs-search{
	margin-top: 10px;
}
#bs-navbar-group #bs-search p{
	margin-bottom: 0px;
	margin-top: 5px;
}
#bs-navbar-group #bs-search p a{
	color: rgba(43,57,145,1);
	margin-bottom: 0px;
	padding:5px;
	text-transform: uppercase;
}
#bs-navbar-group #bs-navbar{
	margin-top: 10px;
}
#main-content-detail{
	margin-top: 0px;
	position: relative;
}
#left-content{
	font-size: 12px;
	margin-top: 10px;
}
#left-content > ul#table-content{
	margin-left: -15px;
	margin-right: -15px;
	padding-bottom: 50px;
}
#left-content > ul#table-content > li > a{
	color:#333;	
	text-transform: uppercase;
	font-size: 11px;
}
#right-content{
	padding-left: 0px;
	padding-right: 0px;
	margin-top: -10px;
}
.bs-xs .menu-show #left-content{
	position: absolute;
	width: 250px;		
	left:0px;
	top:0px;
}
.bs-xs .menu-show #right-content{
	left:250px;
}
@media screen and (max-width: 767px){
	#bs-navbar-group #bs-navbar{
		margin-top: 0px;
	}
	#left-content{
		position: absolute;
		width: 250px;		
		left:-250px;
		top:0px;
		bottom: 0px;
		box-shadow: 1px 0px 1px #999;
	}
	#right-content{
		margin-top: 0px;
	}
	#table-content-btn{
		position: absolute;
		top: 10px;
		left: 10px;
		cursor: pointer;
	}
}

